body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: d4a373;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar {
    background-color: rgba(0, 0, 0);
    height: 100px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

label.logo nav ul li a {
    padding: 0;
}

#cover-text,
#cover-text h2 {
    color: white;

}

#cover-text {
    font-size: 130%;
    font-family: 'Koulen', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 300px;
    height: 300px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: hsla(0, 6%, 7%, 0.9);

    bottom: 100px;
    right: 150px;
    position: absolute;
}

.float-right {
    padding: 30px;
    float: right;

    background-color: #034078;
    border-radius: 25%;
    width: 30%;
    width: 40%;
    text-align: center;
}

.about {
    width: 30%;
    color: white;

    text-align: center;
}

/* .about > h2 {
    padding: 10%;
} */


#tour {
    color: white;
    text-align: center;
    font-size: large;
    padding-bottom: 20px;
}

footer {
    clear: both;
    position: relative;
    z-index: 1;
    height: -3em;
    margin-top: 40em;
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
    padding: 2em;
}

footer>a {
    color: beige;
    border-radius: 5%;
}

footer>a:hover,
a:hover {
    background: grey;
    transition: 1s;
}